<footer>

    <p>{{ global.company.name }}</p><p>|</p>
    <p>{{ global.company.vat }}</p><p>|</p>
	<p><a href="mailto:{{global.company.email}}">{{global.company.email}}</a></p><p>|</p>
	<p>{{ global.company.address }}</p><p>|</p>
	<p>{{ global.company.phone }}</p>

</footer>
