<footer>

    <p>
    	{{ global.company.name }}&nbsp;&nbsp;|
	    &nbsp;<a href="mailto:{{global.company.email}}">{{global.company.email}}</a>&nbsp;&nbsp;|
	    &nbsp;{{ global.company.address }}&nbsp;&nbsp;|
	    &nbsp;{{ global.company.phone }}
	</p>

</footer>
