<footer>

    <p>{{ global.company.name }}</p>
    <p><a href="mailto:{{global.company.email}}">{{global.company.email}}</a></p>
    <p>{{ global.company.address }}</p>
    <p>{{ global.company.phone }}</p>

</footer>
