{% block content %}

<section class="contact">
    <div class="contact-address">
        <h2>{{ global.company.name }}</h2>
        <p>{{ global.company.address }}</p>
        <p>{{ global.company.phone }}</p>
        <p><a href="mailto:{{global.company.email}}">{{global.company.email}}</a></p>
    </div>

    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2862.35464489187!2d12.241006899999991!3d44.158549449999974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ca5267b653f05%3A0xaaaf9566589eb45f!2sApex-Net+Srl!5e0!3m2!1sen!2sit!4v1392198046998" width="500" height="300" frameborder="0" style="border:0"></iframe>

    </div>

    <hr>

<!-- TODO: extract this in a separate include -->
<form method="post" action="" class="form">
    <fieldset>

        <label for="name">Name *</label>
        <p>This is your full name.</p>
        <input type="text" name="name" placeholder="John Appleseed">

        <label for="email">Email *</label>
        <p>So we can get back to you.</p>
        <input type="email" name="email" placeholder="john@apple.com">

        <label for="name">Company</label>
        <p>If you have one.</p>
        <input type="text" name="name" placeholder="Apple Inc.">

        <label for="phone">Phone</label>
        <p>A quick call is worth a thousand words.</p>
        <input type="text" name="phone" placeholder="ex. (555) 555-5555">

        <label for="message">Message *</label>
        <p>Keep it short and sweet and we will love your forever, promise.</p>
        <textarea name="message"></textarea>

        <input class="contact-button" type="submit" name="submit" id="submit" value="Send Message" />

    </fieldset>
</form>

</section>

{% endblock %}
